################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Website/Application/html/BrowseVideos.html
/Website/Application/html/ManageVideos.html
__pycache__
